csmp-block {
  display: block;
  position: absolute;
  &.active {
	outline: double 4px $primary-dark;
  }
  .csmp-block-content {
	font-size: 2em;
	height: 64px;
	line-height: 64px;
  }
  .index {
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 100;
	color: $white;
	font-size: large;
  }
}
