//
// Variables
//
//

// colors
$black: #000;
$gray: #C0C0C0;
$white: #FFF;
$fontColorDefault: rgba(0, 0, 0, 0.8);
$textSelectionColor: $gray;
$color-primary: "66,165,245";
$color-primary-dark: "25,118,210";
$color-accent: "121,85,72";
$grid-desktop-gutter: 4px;
$grid-desktop-margin: 4px;
