csmp-menu {
  &.mdl-layout__header {
	background: rgb(255, 255, 255);
  }

  .mdl-layout__header-row {
	padding: 0 20px;
  }

  .mdl-navigation {
	width: 100%;
  }

  .mdl-textfield {
	width: auto;
	color: $fontColorDefault;
  }

  .material-icons {
	vertical-align: middle;
  }
  select {
	color: $fontColorDefault;
  }
}
