<button type="button" id="csmp-menu-file" class="mdl-button"><span
		class="material-icons">more_vert</span> Fajl
</button>
<ul csmp-upgrade-element class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="csmp-menu-file">
	<li class="mdl-menu__item" (click)="newSimulation()"><span class="material-icons">add</span> Nova
		simulacija
	</li>
	<li class="mdl-menu__item" (click)="openDialog()"><span class="material-icons">cloud_download</span>
		Otvori...
	</li>
	<li class="mdl-menu__item" (click)="saveSimulation()"><span class="material-icons">cloud_upload</span>
		Sačuvaj...
	</li>
	<li class="mdl-menu__item" [routerLink]="['Hub']"><span class="material-icons">exit_to_app</span>
		Izlaz
	</li>
</ul>

<button type="button" class="mdl-button" (click)="removeBlock()">
	<span class="material-icons">delete</span>
</button>
<button type="button" class="mdl-button" (click)="rotateBlock('Right')"><span
		class="material-icons">rotate_right</span>
</button>
<button type="button" class="mdl-button" (click)="rotateBlock('Left')"><span
		class="material-icons">rotate_left</span>
</button>
<div class="mdl-layout-spacer"></div>
<div class="mdl-textfield">
	<label>Interval:</label>
	<input type="number" class="mdl-textfield__input" step="any"
		   [(ngModel)]="simulationConfig.integrationInterval">
</div>
<div class="mdl-textfield">
	<label>Trajanje:</label>
	<input type="number" class="mdl-textfield__input" step="any" [(ngModel)]="simulationConfig.duration">
</div>
<select [(ngModel)]="simulationConfig.method">
	<option *ngFor="#method of methods" [value]="method.className">{{method.description}}</option>
</select>
<button type="button" class="mdl-button mdl-button--accent" (click)="runSimulation()">
	<span class="material-icons">play_arrow</span>
</button>
<div class="mdl-layout-spacer"></div>
<button type="button" class="mdl-button"><span class="material-icons">help</span>
	Help
</button>
<csmp-dialog *ngIf="dialog.visible" [dialog]="dialog"></csmp-dialog>
