<nav>
	<ul>
		<li>
			<a href="#">Fajl <span class=""></span></a>
			<ul class="dropdown-menu">
				<li><a href="#"><span class="fa fa-file-o"></span> Novi dokument</a></li>
				<li class="divider"></li>
				<li><a href="#"><span class="fa fa-folder-open"></span> Otvori...</a></li>
				<li><a href="#"><span class="fa fa-floppy-o"></span> Sačuvaj...</a></li>
			</ul>
		</li>
		<li>
			<div>
				<button type="button">Obriši <span class="fa fa-trash-o"></span></button>
				<button type="button" class="btn btn-default navbar-btn">Rotiraj <span
						class="glyphicon glyphicon-refresh"></span></button>
			</div>
		</li>
	</ul>
	<form>
		<div>
			<label>Interval:</label>
			<input type="number" step="any">
			<label>Trajanje:</label>
			<input type="number" step="any">
			<button type="submit">Pokreni <span class="glyphicon glyphicon-play"></span>
			</button>
		</div>
	</form>
	<ul>
		<li>
			<button type="button"><span class="glyphicon glyphicon-question-sign"></span> Help
			</button>
		</li>
	</ul>
</nav>
