csmp-inspector {
    h3 {
        font-weight: 700;
        text-align: center;
        line-height: 20px;
        &.title {
            background: $primary;
            color: $white;
        }
    }
    table.mdl-data-table {
        width: 100%;
        tr {
            cursor: pointer;
            height: 16px;
            &.active {
                background-color: $primary-dark;
                color: $white;
            }
            td {
                font-weight: 700;
                padding: 0;
                height: 16px;
                text-align: left;
                &:first-of-type {
                    padding-left: 8px;
                }
                input {
                    width: 100%;
                    &[type="number"] {
                        text-align: right;
                    }
                }
            }
        }
    }
}
