<div *ng-if="blocks.length">
	<h3 class="title">Blokovi</h3>
	<table class=" mdl-data-table csmp-inspector-table">
		<tr *ng-for="#block of blocks" [class.active]="block===activeBlock" (click)="setActiveBlock(block)">
			<td class="mdl-data-table__cell--non-numeric">
				{{block.getIndexDescription()}}
			</td>
		</tr>
	</table>
</div>
<div *ng-if="activeBlock">
	<h3 class="title">{{activeBlock?.getIndexDescription()}}</h3>

	<div *ng-if="activeBlock?.params.length">
		<h3>Parametri</h3>
		<table>
			<tr *ng-for="#param of activeBlock.params">
				<td>Param</td>
				<td><input type="number" step="any"></td>
			</tr>
		</table>
	</div>
	<div *ng-if="activeBlock?.stringParams.length">
		<h3>Tekstualni parametri</h3>
		<table>
			<tr *ng-for="#stringParam of activeBlock.stringParams">
				<td>Param</td>
				<td><input type="number" step="any"></td>
			</tr>
		</table>
	</div>
	<div *ng-if="activeBlock?.inputs.length">
		<h3>Ulazi</h3>
		<table>
			<tr *ng-for="#input of activeBlock.inputs">
				<td>Ulaz</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div *ng-if="activeBlock?.outputs.length">
		<h3>Izlazi</h3>
		<table>
			<tr *ng-for="#output of activeBlock.outputs">
				<td>Izlaz</td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
