csmp-dialog.mdl-card {
  position: absolute;
  width: auto;
  top: 20%;
  left: 20%;
  z-index: 999;
  border: single 1px $gray;
  padding: 15px 30px;
  color: $black;
  .button-close {
	position: absolute;
	top: 0;
	right: 0;
  }
}
