page-gpss {
    height: 100%;
    .mdl-grid {
        height: calc(100% - 68px); //68px visina headera
        padding: 0;
        .mdl-cell {
            position: relative;
            div.gpss-editor {
                position: absolute;
                top: 15px;
                right: 5px;
                bottom: 20px;
                left: 5px;
            }
        }
    }
}
