csmp-block-list {

  .list-item {
		float: left;
		font-weight: 700;
		margin-bottom: 10px;
		text-align: center;
  }

  .block-description {
  	display: block;
  	line-height: 15px;
  	padding-top: 5px;
  }

  .block-list {
    padding-top: 20px;
  }

}


